<tr>
  <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-900 sm:pl-6"><%= investment_calculator_result.number %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-900 sm:pl-6"><%= number_to_currency investment_calculator_result.amount %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= investment_calculator_result.crypto_amount %></td>
</tr>
