<%- error = form.object.errors[attribute].first %>
<% error_class = "border border-red-500" if error.present? %>
<div>
  <div class="relative rounded-md shadow-sm <%= error_class %>">
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
      <span class="text-gray-500 sm:text-sm">$</span>
    </div>
    <%= form.text_field attribute, placeholder: "0.00", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", "aria-describedby": "price-currency" %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
      <span class="text-gray-500 sm:text-sm" id="price-currency">USD</span>
    </div>
  </div>
  <%= content_tag :p, error, class: "help-error text-red-500 text-sm" if error.present? %>
</div>
